<portalState>
  <systemState CamMode="0" TrackMode="0" CamXFocus="0" CamYFocus="0" CamZFocus="0" CamXPos="7.5391268730163574" CamYPos="-12.47636890411377" CamZPos="10.309237480163574" CamXVel="0.10000000000000001" CamYVel="0.10000000000000001" CamZVel="0.10000000000000001" CamRollVel="0.025000000000000001" parm1="/random_cloud" parm2="sensor_msgs/PointCloud2"/>
  <gadgetState>
    <ELEMENT0 name="MainGrid" type="1" CellXwidth="1" CellYwidth="10" CellZwidth="10" GridXMin="-30" GridXMax="30" GridYMin="-30" GridYMax="30" GridZMin="0" GridZMax="0"/>
    <ELEMENT1 name="/world" type="2"/>
    <ELEMENT2 name="/turtle" type="2"/>
    <ELEMENT3 name="my_namespace1" type="5"/>
    <ELEMENT4 name="my_otherspace2" type="5"/>
    <ELEMENT5 name="/random_cloud" type="10" BillboardWidth="10"/>
  </gadgetState>
  <keyboardState>
    <KEY0 code="0" keyName="UNASSIGNED" scriptName=""/>
    <KEY1 code="1" keyName="ESCAPE" scriptName=""/>
    <KEY2 code="2" keyName="1" scriptName=""/>
    <KEY3 code="3" keyName="2" scriptName=""/>
    <KEY4 code="4" keyName="3" scriptName=""/>
    <KEY5 code="5" keyName="4" scriptName=""/>
    <KEY6 code="6" keyName="5" scriptName=""/>
    <KEY7 code="7" keyName="6" scriptName=""/>
    <KEY8 code="8" keyName="7" scriptName=""/>
    <KEY9 code="9" keyName="8" scriptName=""/>
    <KEY10 code="10" keyName="9" scriptName=""/>
    <KEY11 code="11" keyName="0" scriptName=""/>
    <KEY12 code="12" keyName="MINUS" scriptName=""/>
    <KEY13 code="13" keyName="EQUALS" scriptName=""/>
    <KEY14 code="14" keyName="BACK" scriptName=""/>
    <KEY15 code="15" keyName="TAB" scriptName=""/>
    <KEY16 code="16" keyName="Q" scriptName=""/>
    <KEY17 code="17" keyName="W" scriptName=""/>
    <KEY18 code="18" keyName="E" scriptName=""/>
    <KEY19 code="19" keyName="R" scriptName=""/>
    <KEY20 code="20" keyName="T" scriptName=""/>
    <KEY21 code="21" keyName="Y" scriptName=""/>
    <KEY22 code="22" keyName="U" scriptName=""/>
    <KEY23 code="23" keyName="I" scriptName=""/>
    <KEY24 code="24" keyName="O" scriptName=""/>
    <KEY25 code="25" keyName="P" scriptName=""/>
    <KEY26 code="26" keyName="LBRACKET" scriptName=""/>
    <KEY27 code="27" keyName="RBRACKET" scriptName=""/>
    <KEY28 code="28" keyName="RETURN" scriptName=""/>
    <KEY29 code="29" keyName="LCONTROL" scriptName=""/>
    <KEY30 code="30" keyName="A" scriptName=""/>
    <KEY31 code="31" keyName="S" scriptName=""/>
    <KEY32 code="32" keyName="D" scriptName=""/>
    <KEY33 code="33" keyName="F" scriptName=""/>
    <KEY34 code="34" keyName="G" scriptName=""/>
    <KEY35 code="35" keyName="H" scriptName=""/>
    <KEY36 code="36" keyName="J" scriptName=""/>
    <KEY37 code="37" keyName="K" scriptName=""/>
    <KEY38 code="38" keyName="L" scriptName=""/>
    <KEY39 code="39" keyName="SEMICOLON" scriptName=""/>
    <KEY40 code="40" keyName="APOSTROPHE" scriptName=""/>
    <KEY41 code="41" keyName="GRAVE" scriptName=""/>
    <KEY42 code="42" keyName="LSHIFT" scriptName=""/>
    <KEY43 code="43" keyName="BACKSLASH" scriptName=""/>
    <KEY44 code="44" keyName="Z" scriptName=""/>
    <KEY45 code="45" keyName="X" scriptName=""/>
    <KEY46 code="46" keyName="C" scriptName=""/>
    <KEY47 code="47" keyName="V" scriptName=""/>
    <KEY48 code="48" keyName="B" scriptName=""/>
    <KEY49 code="49" keyName="N" scriptName=""/>
    <KEY50 code="50" keyName="M" scriptName=""/>
    <KEY51 code="51" keyName="COMMA" scriptName=""/>
    <KEY52 code="52" keyName="PERIOD" scriptName=""/>
    <KEY53 code="53" keyName="SLASH" scriptName=""/>
    <KEY54 code="54" keyName="RSHIFT" scriptName=""/>
    <KEY55 code="55" keyName="MULTIPLY" scriptName=""/>
    <KEY56 code="56" keyName="LMENU" scriptName=""/>
    <KEY57 code="57" keyName="SPACE" scriptName=""/>
    <KEY58 code="58" keyName="CAPITAL" scriptName=""/>
    <KEY59 code="59" keyName="F1" scriptName=""/>
    <KEY60 code="60" keyName="F2" scriptName=""/>
    <KEY61 code="61" keyName="F3" scriptName=""/>
    <KEY62 code="62" keyName="F4" scriptName=""/>
    <KEY63 code="63" keyName="F5" scriptName=""/>
    <KEY64 code="64" keyName="F6" scriptName=""/>
    <KEY65 code="65" keyName="F7" scriptName=""/>
    <KEY66 code="66" keyName="F8" scriptName=""/>
    <KEY67 code="67" keyName="F9" scriptName=""/>
    <KEY68 code="68" keyName="F10" scriptName=""/>
    <KEY69 code="69" keyName="NUMLOCK" scriptName=""/>
    <KEY70 code="70" keyName="SCROLL" scriptName=""/>
    <KEY71 code="71" keyName="NUMPAD7" scriptName=""/>
    <KEY72 code="72" keyName="NUMPAD8" scriptName=""/>
    <KEY73 code="73" keyName="NUMPAD9" scriptName=""/>
    <KEY74 code="74" keyName="SUBTRACT" scriptName=""/>
    <KEY75 code="75" keyName="NUMPAD4" scriptName=""/>
    <KEY76 code="76" keyName="NUMPAD5" scriptName=""/>
    <KEY77 code="77" keyName="NUMPAD6" scriptName=""/>
    <KEY78 code="78" keyName="ADD" scriptName=""/>
    <KEY79 code="79" keyName="NUMPAD1" scriptName=""/>
    <KEY80 code="80" keyName="NUMPAD2" scriptName=""/>
    <KEY81 code="81" keyName="NUMPAD3" scriptName=""/>
    <KEY82 code="82" keyName="NUMPAD0" scriptName=""/>
    <KEY83 code="83" keyName="DECIMAL" scriptName=""/>
    <KEY84 code="84" keyName="" scriptName=""/>
    <KEY85 code="85" keyName="" scriptName=""/>
    <KEY86 code="86" keyName="OEM_102" scriptName=""/>
    <KEY87 code="87" keyName="F11" scriptName=""/>
    <KEY88 code="88" keyName="F12" scriptName=""/>
    <KEY89 code="89" keyName="" scriptName=""/>
    <KEY90 code="90" keyName="" scriptName=""/>
    <KEY91 code="91" keyName="" scriptName=""/>
    <KEY92 code="92" keyName="" scriptName=""/>
    <KEY93 code="93" keyName="" scriptName=""/>
    <KEY94 code="94" keyName="" scriptName=""/>
    <KEY95 code="95" keyName="" scriptName=""/>
    <KEY96 code="96" keyName="" scriptName=""/>
    <KEY97 code="97" keyName="" scriptName=""/>
    <KEY98 code="98" keyName="" scriptName=""/>
    <KEY99 code="99" keyName="" scriptName=""/>
    <KEY100 code="100" keyName="F13" scriptName=""/>
    <KEY101 code="101" keyName="F14" scriptName=""/>
    <KEY102 code="102" keyName="F15" scriptName=""/>
    <KEY103 code="103" keyName="" scriptName=""/>
    <KEY104 code="104" keyName="" scriptName=""/>
    <KEY105 code="105" keyName="" scriptName=""/>
    <KEY106 code="106" keyName="" scriptName=""/>
    <KEY107 code="107" keyName="" scriptName=""/>
    <KEY108 code="108" keyName="" scriptName=""/>
    <KEY109 code="109" keyName="" scriptName=""/>
    <KEY110 code="110" keyName="" scriptName=""/>
    <KEY111 code="111" keyName="" scriptName=""/>
    <KEY112 code="112" keyName="KANA" scriptName=""/>
    <KEY113 code="113" keyName="" scriptName=""/>
    <KEY114 code="114" keyName="" scriptName=""/>
    <KEY115 code="115" keyName="ABNT_C1" scriptName=""/>
    <KEY116 code="116" keyName="" scriptName=""/>
    <KEY117 code="117" keyName="" scriptName=""/>
    <KEY118 code="118" keyName="" scriptName=""/>
    <KEY119 code="119" keyName="" scriptName=""/>
    <KEY120 code="120" keyName="" scriptName=""/>
    <KEY121 code="121" keyName="CONVERT" scriptName=""/>
    <KEY122 code="122" keyName="" scriptName=""/>
    <KEY123 code="123" keyName="NOCONVERT" scriptName=""/>
    <KEY124 code="124" keyName="" scriptName=""/>
    <KEY125 code="125" keyName="YEN" scriptName=""/>
    <KEY126 code="126" keyName="ABNT_C2" scriptName=""/>
    <KEY127 code="127" keyName="" scriptName=""/>
    <KEY128 code="128" keyName="" scriptName=""/>
    <KEY129 code="129" keyName="" scriptName=""/>
    <KEY130 code="130" keyName="" scriptName=""/>
    <KEY131 code="131" keyName="" scriptName=""/>
    <KEY132 code="132" keyName="" scriptName=""/>
    <KEY133 code="133" keyName="" scriptName=""/>
    <KEY134 code="134" keyName="" scriptName=""/>
    <KEY135 code="135" keyName="" scriptName=""/>
    <KEY136 code="136" keyName="" scriptName=""/>
    <KEY137 code="137" keyName="" scriptName=""/>
    <KEY138 code="138" keyName="" scriptName=""/>
    <KEY139 code="139" keyName="" scriptName=""/>
    <KEY140 code="140" keyName="" scriptName=""/>
    <KEY141 code="141" keyName="NUMPADEQUALS" scriptName=""/>
    <KEY142 code="142" keyName="" scriptName=""/>
    <KEY143 code="143" keyName="" scriptName=""/>
    <KEY144 code="144" keyName="CIRCUMFLEX" scriptName=""/>
    <KEY145 code="145" keyName="AT" scriptName=""/>
    <KEY146 code="146" keyName="COLON" scriptName=""/>
    <KEY147 code="147" keyName="UNDERLINE" scriptName=""/>
    <KEY148 code="148" keyName="KANJI" scriptName=""/>
    <KEY149 code="149" keyName="STOP" scriptName=""/>
    <KEY150 code="150" keyName="AX" scriptName=""/>
    <KEY151 code="151" keyName="UNLABELED" scriptName=""/>
    <KEY152 code="152" keyName="" scriptName=""/>
    <KEY153 code="153" keyName="NEXTTRACK" scriptName=""/>
    <KEY154 code="154" keyName="" scriptName=""/>
    <KEY155 code="155" keyName="" scriptName=""/>
    <KEY156 code="156" keyName="NUMPADENTER" scriptName=""/>
    <KEY157 code="157" keyName="RCONTROL" scriptName=""/>
    <KEY158 code="158" keyName="" scriptName=""/>
    <KEY159 code="159" keyName="" scriptName=""/>
    <KEY160 code="160" keyName="MUTE" scriptName=""/>
    <KEY161 code="161" keyName="CALCULATOR" scriptName=""/>
    <KEY162 code="162" keyName="PLAYPAUSE" scriptName=""/>
    <KEY163 code="163" keyName="" scriptName=""/>
    <KEY164 code="164" keyName="MEDIASTOP" scriptName=""/>
    <KEY165 code="165" keyName="" scriptName=""/>
    <KEY166 code="166" keyName="" scriptName=""/>
    <KEY167 code="167" keyName="" scriptName=""/>
    <KEY168 code="168" keyName="" scriptName=""/>
    <KEY169 code="169" keyName="" scriptName=""/>
    <KEY170 code="170" keyName="" scriptName=""/>
    <KEY171 code="171" keyName="" scriptName=""/>
    <KEY172 code="172" keyName="" scriptName=""/>
    <KEY173 code="173" keyName="" scriptName=""/>
    <KEY174 code="174" keyName="VOLUMEDOWN" scriptName=""/>
    <KEY175 code="175" keyName="" scriptName=""/>
    <KEY176 code="176" keyName="VOLUMEUP" scriptName=""/>
    <KEY177 code="177" keyName="" scriptName=""/>
    <KEY178 code="178" keyName="WEBHOME" scriptName=""/>
    <KEY179 code="179" keyName="NUMPADCOMMA" scriptName=""/>
    <KEY180 code="180" keyName="" scriptName=""/>
    <KEY181 code="181" keyName="DIVIDE" scriptName=""/>
    <KEY182 code="182" keyName="" scriptName=""/>
    <KEY183 code="183" keyName="SYSRQ" scriptName=""/>
    <KEY184 code="184" keyName="RMENU" scriptName=""/>
    <KEY185 code="185" keyName="" scriptName=""/>
    <KEY186 code="186" keyName="" scriptName=""/>
    <KEY187 code="187" keyName="" scriptName=""/>
    <KEY188 code="188" keyName="" scriptName=""/>
    <KEY189 code="189" keyName="" scriptName=""/>
    <KEY190 code="190" keyName="" scriptName=""/>
    <KEY191 code="191" keyName="" scriptName=""/>
    <KEY192 code="192" keyName="" scriptName=""/>
    <KEY193 code="193" keyName="" scriptName=""/>
    <KEY194 code="194" keyName="" scriptName=""/>
    <KEY195 code="195" keyName="" scriptName=""/>
    <KEY196 code="196" keyName="" scriptName=""/>
    <KEY197 code="197" keyName="PAUSE" scriptName=""/>
    <KEY198 code="198" keyName="" scriptName=""/>
    <KEY199 code="199" keyName="HOME" scriptName=""/>
    <KEY200 code="200" keyName="UP" scriptName=""/>
    <KEY201 code="201" keyName="PGUP" scriptName=""/>
    <KEY202 code="202" keyName="" scriptName=""/>
    <KEY203 code="203" keyName="LEFT" scriptName=""/>
    <KEY204 code="204" keyName="" scriptName=""/>
    <KEY205 code="205" keyName="RIGHT" scriptName=""/>
    <KEY206 code="206" keyName="" scriptName=""/>
    <KEY207 code="207" keyName="END" scriptName=""/>
    <KEY208 code="208" keyName="DOWN" scriptName=""/>
    <KEY209 code="209" keyName="PGDOWN" scriptName=""/>
    <KEY210 code="210" keyName="INSERT" scriptName=""/>
    <KEY211 code="211" keyName="DELETE" scriptName=""/>
    <KEY212 code="212" keyName="" scriptName=""/>
    <KEY213 code="213" keyName="" scriptName=""/>
    <KEY214 code="214" keyName="" scriptName=""/>
    <KEY215 code="215" keyName="" scriptName=""/>
    <KEY216 code="216" keyName="" scriptName=""/>
    <KEY217 code="217" keyName="" scriptName=""/>
    <KEY218 code="218" keyName="" scriptName=""/>
    <KEY219 code="219" keyName="LWIN" scriptName=""/>
    <KEY220 code="220" keyName="RWIN" scriptName=""/>
    <KEY221 code="221" keyName="APPS" scriptName=""/>
    <KEY222 code="222" keyName="POWER" scriptName=""/>
    <KEY223 code="223" keyName="SLEEP" scriptName=""/>
    <KEY224 code="224" keyName="" scriptName=""/>
    <KEY225 code="225" keyName="" scriptName=""/>
    <KEY226 code="226" keyName="" scriptName=""/>
    <KEY227 code="227" keyName="WAKE" scriptName=""/>
    <KEY228 code="228" keyName="" scriptName=""/>
    <KEY229 code="229" keyName="WEBSEARCH" scriptName=""/>
    <KEY230 code="230" keyName="WEBFAVORITES" scriptName=""/>
    <KEY231 code="231" keyName="WEBREFRESH" scriptName=""/>
    <KEY232 code="232" keyName="WEBSTOP" scriptName=""/>
    <KEY233 code="233" keyName="WEBFORWARD" scriptName=""/>
    <KEY234 code="234" keyName="WEBBACK" scriptName=""/>
    <KEY235 code="235" keyName="MYCOMPUTER" scriptName=""/>
    <KEY236 code="236" keyName="MAIL" scriptName=""/>
  </keyboardState>
</portalState>
